button{
    background-color: rgb(57, 5, 119);
    width: 95px;
    height: 35px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}