.div{
    background-color: rgb(232, 187, 255);
    width: 100%;
    color: rgb(126, 7, 180);
    font-size: 13px;
}

.titulo{
    background-color: rgb(221, 146, 255);
    height: 75px;
    font-size: 17px;
    padding-top: 10px;
    color: rgb(153, 14, 218);
}
